/* import the fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&family=Lora:wght@400;700');

/* Body styles */
body {
  font-size: 22px;
  font-family: 'Lora', serif;
  color: #495B45;
  margin: 20px;
  background-color: #FAF2F0;
}

h1, h2, h3 {
    color: #5C7457;
    font-family: 'Ubuntu', sans-serif;
}

nav{
    text-align: left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    clear: left;
}

nav a {
    display: flex;
    padding: 10px;
    text-decoration: underline;
    clear: left;
}

/* anchor styles */

a:link {
  color: #004E89;
}

a:visited {
  color: #772F1A;
}
/* Image styles */

img {
  max-width: 80%;
  padding: 20px;
}

/* Div styles */
.image-container {
  background-color: #C1BCAC;
  display: flex;
  clear: left;
  align-items: center;
  justify-content: center;

}
.new-paragraph{
    clear: left;
    margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 8fr; /* Two columns with equal width */
  grid-gap: 20px; /* Gap between grid items */
}
.item {
  background-color: #EFD0CA;
  padding: 20px;
}

/* Media query for smaller screens */

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
    background-color: #EFD0CA;
      margin: 10px;

  }
  img {
    max-width: 80%;
    padding: 10px;
  }
  .new-paragraph{
    margin: 5px;
    }
  nav a {
    padding: 5px;
  }
  nav{
    text-align: center;
  }
  nav li {
    display: inline-block;
  }
  .grid-container {
    grid-template-columns: 1fr; /* One column */
    grid-gap: 0; /* Gap between grid items */
  } 
  .item {
    background-color: #EFD0CA;
    padding: 0;
  }
}


